body {
  background:rgb(44, 68, 52);
  font-family: Arial, sans-serif;
}

.container {
  width: 600px;
  margin: 30px auto;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

textarea {
  width: 95%;
  padding: 10px ;

  font-size: 16px;
}

input {
  width: 95%;
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  margin-top: 15px;
  width: 98%;
  padding: 12px;
  background: #0078ff;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
}

button:disabled {
  background: gray;
}

.result-box {
  margin-top: 20px;
  padding: 10px;
  background: #e8f7ff;
  border-left: 4px solid #0078ff;
}

.criterion {
  margin-bottom: 10px;
}
